.login-required h2 a {
    font-size: $title-size;
    font-weight: $title-weight;
    color: $title-color;
}

.login-required p::before {
    content: "\A #{$content} \A";
    white-space: pre-wrap;
    font-size: $text-size;
    color: $text-color;
}   

.static-login {
    background-image: $background-image;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $image-color-background;
}
