.login-required h2 a {
    font-size: $title-size;
    font-weight: $title-weight;
    color: $title-color;
}


.login-required p::before {
    content: "\A #{$content} \A";
    white-space: pre;
}      
